html,
body {
  color: #ddd;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  /* background: red; */
  font-family: "roboto";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  margin: 0px;
  display:flex;
  padding: 0px;
}

.aside{
  background:grey;
  height:100%;
  width:250px;

  /* visibility: hidden; */
  border:3px solid green;
}

main{
  width:100%;
  display:flex;
  flex-Direction:column;
  /* border:1px solid red; */
}

.canvas{
 height: 100%;
 background: #424141;
 font-size: 20px;
 text-wrap: wrap;
  border:2px solid blue;
  }

#terminal,
.terminal {
  width: 100%;

  font-family: "SourceCodePro";
  /* border: 2px solid red; */
  font-size: 15px;
}

#terminal,
.terminal,
.xterm-viewport,
.xterm-screen,
.xterm-rows {
  background: rgba(0, 0, 0, 0.8) !important;
  height: 200px;
}

.xterm {
  padding: 10px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

/** SCROLLBARS **/

/*
  :root {
    color-scheme: dark;
  }
  */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}

::-webkit-scrollbar-thumb:active {
  background-color: #4d4d4d;
}

::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 2px;
}

.xterm-viewport {
  margin-right: 3px !important;
}
